<!DOCTYPE html>
<html>
  <head>
    <title>Teachers Pets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="nav-bar">
        <a href="/"><%= image_tag 'icon.png', class: "home_link" %></a>
        <%= link_to "Manage classes", '/manage'%>
        <%= link_to "Take attendance", "#"%>
        <%= link_to "Random student machine", "#"%>
        <%= link_to "Random group machine", "#"%>
      </nav>

    <%= yield %>
  </body>
</html>
